prompt                  = no
distinguished_name	= req_distinguished_name
x509_extensions		= req_extensions

# the following sections are specific to the request we're building       

[ certificate_extensions ]
basicConstraints = CA:false

[ req_distinguished_name ]
countryName            = JP
stateOrProvinceName    = Kanagawa
localityName           = Fujisawa
organizationName       = darsh
commonName             = server

[ req_extensions ]
basicConstraints = CA:true
